:root {
  --ucllRoze: #e30147;
}
.navbar {
  background-color: var(--ucllRoze);
}
.card {
  margin: 15px 15px 15px 15px;
}

#itemNavbar {
  padding-top: 10px;
  border-right-style: solid;
  border-color: black;
  border-width: 2px;
}
#shopArticles {
  padding-top: 10px;
}

.quantityPicker {
  width: 55px;
  height: 30px;
}

.buttongroup {
  width: 105px;
}
