:root {
  --ucllRoze: #e30147;
}
.navbar {
  background-color: var(--ucllRoze);
  height: 6.5vh;
}
.card {
  margin: 15px 15px 15px 15px;
}

#itemNavbar {
  padding-top: 10px;
  border-right-style: solid;
  border-color: black;
  border-width: 2px;
  height: 93.5vh;
}
#shopArticles {
  padding-top: 10px;
}
